/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-height: 100vh;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" 410;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  background-position: top;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.header {
  margin-block-start: 100px;
  margin-block-end: 100px;
  inline-size: var(--block-width);
  justify-self: center;
  background-color: #fff;
}

.block {
  inline-size: var(--block-width);
  background-color: #fff;
  margin: 0;
  padding: 0;
  border: 2px solid #000;
}

.header-content {
  display: grid;
  justify-content: center;
  padding-top: clamp(
    120px,
    120px + (128 - 120) * ((100vw - 375px) / (1440 - 375)),
    128px
  );
  padding-bottom: clamp(
    120px,
    120px + (128 - 120) * ((100vw - 375px) / (1440 - 375)),
    128px
  );
  padding-left: clamp(
    20px,
    20px + (124 - 20) * ((100vw - 375px) / (1440 - 375)),
    124px
  );
  padding-right: clamp(
    20px,
    20px + (124 - 20) * ((100vw - 375px) / (1440 - 375)),
    124px
  );
  text-transform: uppercase;
  gap: 20px;
}

.header-title {
  display: block;
  font-family: var(--accent-font), fantasy;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  width: fit-content;
  justify-self: center;
  font-variation-settings: "wght" var(--header-title-weight);
  line-height: 100%;
}

.header-text {
  font-family: var(--accent-font), fantasy;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  justify-self: center;
  align-self: center;
  font-variation-settings: "wght" var(--header-text-weight);
  line-height: 100%;
}

.content {
  margin-bottom: 100px;
  display: grid;
  gap: 50px;
  justify-self: center;
}

.card-title {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--card-title-weight);
  font-size: var(--card-title-size);
  padding: 4px 10px;
  line-height: 22px;
}

.image-container {
  position: relative;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.image {
  margin: 0;
  inline-size: var(--image-size);
  block-size: var(--image-size);
  object-fit: cover;
  display: block;
}

.watermark {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 98px;
  height: fit-content;
  color: #000;
  mix-blend-mode: hard-light;
  background-color: transparent;
  opacity: 50%;
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--accent-font), fantasy;
  line-height: 100%;
  font-variation-settings: "wght" 400;
}

.stroke {
  text-shadow:
    1px 1px 0px var(--color-stroke),
    -1px 1px 0px var(--color-stroke),
    -1px -1px 0px var(--color-stroke);
}

@supports (text-stroke: 1px) or (-webkit-text-stroke: 1px) {
  .stroke {
    -webkit-text-stroke: 1px var(--color-stroke);
    text-stroke: 1px var(--color-stroke);
    text-shadow: none;
  }
}

.text-block {
  display: grid;
  box-sizing: border-box;
  gap: 25px;
  margin: 25px;
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-text-size);
  line-height: 21px;
}

.like-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  justify-self: end;
}

.card__icon-button {
  display: flex;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 38px;
  height: 38px;
  align-items: center;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.card__like-button {
  display: flex;
  inline-size: 130px;
  block-size: 38px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-inline-start: 6px;
  border: 2px solid var(--accent-color);
}

.button__text {
  display: flex;
  font-family: var(--accent-font), fantasy;
  font-size: var(--button-text-size);
  line-height: 90%;
  justify-self: center;
  align-self: center;
}

.save-button {
  display: grid;
  justify-self: center;
  gap: 7px;
  padding-block: 16px;
  inline-size: var(--save-button-width);
  background-color: #fff;
}

.btn-accent.save-button {
  border: solid 2px var(--accent-color);
}

.button-floppy {
  display: block;
  width: 28px;
  height: 28px;
  justify-self: center;
  align-self: center;
}

.dialog-window[open] {
  inline-size: var(--dialog-win-width);
  font-family: var(--accent-font), fantasy;
  font-size: var(--button-text-size);
  text-transform: uppercase;
  line-height: 150%;
  font-weight: 400;
  padding-inline: clamp(2.375rem, 2.5951rem + -0.939vw, 1.75rem);
  padding-block: 28px;
  border: 2px solid var(--accent-color);
  display: grid;
  gap: 30px;
}

dialog::backdrop {
  background-color: rgba(0 0 0 /0.75);
}

.dialog-message {
  display: flex;
}

.floppy {
  min-block-size: 39px;
  min-inline-size: 39px;
  align-self: center;
  margin-inline-end: 20px;
}

.ok-button {
  box-sizing: border-box;
  min-block-size: 38px;
  background-color: transparent;
  text-transform: uppercase;
}

.btn-accent {
  position: relative;
  overflow: hidden;
  outline: none;
  border: 2px solid var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.btn-accent:focus {
  border-color: var(--accent-color);
  box-shadow: 2px 2px 0px var(--accent-color);
}

.btn-accent:focus-visible {
  border-color: var(--accent-color);
}

.btn-cover::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.btn-cover:hover::before {
  transform: translateX(0);
  cursor: pointer;
  color: #fff;
  background-color: #fff;
  mix-blend-mode: difference;
}

.button__text:active {
  color: #000;
  background-color: #fff;
}

.like-icon {
  transform-origin: center;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--likeContourColor);
  transition: 0.1s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: 0.3s linear;
}

.like-icon .core {
  fill: transparent;
  transition: 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.05s;
}

.heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill__Color);
  transition: 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill__Color);
  transition: 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-fill__Color);
  transition: 0.3s linear 0.06s;
}

.filter-norm {
  filter: none;
}

.filter-dark {
  filter: grayscale(0.8);
}

.filter-super__bright {
  filter: saturate(290%) brightness(140%) contrast(120%);
}

.filter-bright {
  filter: sepia(0.5) saturate(230%) grayscale(10%) brightness(90%) contrast(80%);
}

.filter-invert {
  filter: invert(1) brightness(80%) opacity(0.8);
}

.filter-gray {
  filter: sepia(0.9);
}

.filter-blur {
  filter: blur(10px);
}

.filter-vague {
  filter: hue-rotate(70deg) contrast(50%) blur(1px);
}

@media (width > 375px) {
  .save-button {
    display: flex;
    padding-inline: 17px;
    padding-block: 14px;
    gap: 7px;
  }

  .text-block {
    margin-block-start: 23px;
    margin-block-end: 25px;
    gap: 25px;
  }

  .button-floppy {
    width: 21px;
    height: 21px;
  }

  .content {
    gap: 52px;
  }

  .dialog-window[open] {
    padding: 28px;
    margin-block-end: 38.5vh;
  }
}
